@import 'tailwindcss';

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer base {
  html {
    color-scheme: light;
  }

  * {
    @apply border-gray-200;
  }

  html,
  body {
    @apply text-gray-900 bg-white;
  }

  .using-mouse * {
    outline: none !important;
  }
}
